.recipe-block {
  position: relative;

  width: 260px;
  height: 200px;

  border-radius: var(--border-radius-small);

  background-color: #fff;

  overflow: hidden;

  cursor: pointer;
}
.recipe-block:hover > img {
  size: 110%;
}

.recipe-image {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #79ac78;
  border-radius: var(--border-radius-small);
  border-top-right-radius: 24px;

  overflow: hidden;
}
.recipe-image > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.recipe-likes {
  position: absolute;
  top: 10px;
  left: 10px;

  width: max-content;
  height: 25px;

  padding: 0 8px 0 4px;

  color: #f4b400;
  font-weight: 300;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;

  border-radius: var(--border-radius-ultra-small);

  background-color: #fff;
}
.recipe-likes > svg {
  width: 21px;
  height: 21px;
}
.recipe-likes > svg > path {
  stroke: #f4b400;
}

.recipe-time {
  position: absolute;
  top: 40px;
  left: 10px;

  width: max-content;
  height: 25px;

  padding: 0 8px 0 4px;

  color: #00abf4;
  font-weight: 300;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;

  border-radius: var(--border-radius-ultra-small);

  background-color: #fff;
}
.recipe-time > svg {
  width: 21px;
  height: 21px;
}
.recipe-time > svg > path {
  stroke: #00abf4;
}

.recipe-block > svg {
  position: absolute;

  z-index: 1;

  transform: rotate(-90deg);
}
.recipe-block > svg:nth-child(1) {
  top: 0;
  right: 50px;
}
.recipe-block > svg:nth-child(2) {
  top: 50px;
  right: 0;
}

.link-to-recipe {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 0 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0 var(--border-radius);

  background-color: #fff;

  cursor: pointer;

  z-index: 12;
}
.link-to-recipe > button {
  width: 45px;
  height: 45px;

  padding: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background-color: #000;

  cursor: pointer;
}
.link-to-recipe > button > svg {
  width: 35px;
  height: 35px;

  padding: 3px;

  border: 0;
  border-radius: 50%;

  background-color: #000;

  transition: background-color 0.3s;
}
.link-to-recipe > button > svg > path {
  stroke: #fff;

  transition: stroke 0.3s;
}
.recipe-block:hover .link-to-recipe > button > svg {
  background-color: #fff;
}
.recipe-block:hover .link-to-recipe > button > svg > path {
  stroke: #000;
}
