:root {
  --border-radius-large: 50%;
  --border-radius: 24px;
  --border-radius-small: 16px;
  --border-radius-ultra-small: 8px;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

main {
  position: relative;

  width: 100svw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-container {
  max-width: 1920px;
}

.error-container {
  width: 100svw;
  height: 100svh;

  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  padding-top: 10svh;

  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}

#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
/* .error-container > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  color: #707070;
}
.error-container > svg {
  width: 128px;
  height: 128px;
}
.error-container > button {
  padding: 12px 24px;
  margin-top: 10px;

  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;

  border: 1px solid #016a70;
  border-radius: var(--border-radius-small);
  background-color: #186f65;

  cursor: pointer;
  transition: 0.3s background-color;
}
.error-container > button:hover {
  border: 1px solid #618264;
  background-color: #79ac78;
} */

svg > path {
  stroke: #000;
}
